*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 22px;
}

h1{
    color: white;
}

.ball{ 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    background-color: teal;
    border-radius: 50%;
    margin: auto;

    transition: 1s;
}

.diameter{
    width: max-content;
    font-weight: bold;
}

.ball1{
    background-color: pink;
}