*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 22px;
}

h1{
    position: relative;
    color: white;
}

.balls-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.bottom{
    position: fixed;
    bottom: 100px;
    left: 200px;
}
.ball{ 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    background-color: teal;
    border-radius: 50%;

    transition: 1s;
}

.diameter{
    width: max-content;
    font-weight: bold;
}
.ball1{
    background-color: lightblue;
}
.ball2{
    background-color: pink;
    
}

button{
    position: absolute;
    right: 0;
}

.undo{
    right: 50px;
}